<div class="box">


  <div v-if="user === null && page=='register'">
    <!-- <p class="subtitle is-3">Join Today</p>

    <div class="field">
      <label class="label">Username*</label>
      <div class="control">
        <input class="input" v-model="form.username" type="text" required>
      </div>
      <span class="help danger" v-if="errors.username">{{errors.username}}</span>
    </div>

    <div class="field">
      <label class="label">Email*</label>
      <div class="control">
        <input class="input" v-model="form.email" type="email">
      </div>
      <span class="help danger" v-if="errors.email">{{errors.email}}</span>
    </div>

    <div class="field">
      <label class="label">Password*</label>
      <div class="control">
        <input class="input" v-model="form.password" type="password">
      </div>
      <span class="help danger" v-if="errors.password">{{errors.password}}</span>
    </div>

    <div class="field">
      <label class="label">Password confirmation*</label>
      <div class="control">
        <input class="input" v-bind:class="{'is-invalid':form.password2 && form.password!=form.password2}"
          v-model="form.password2" type="password">
      </div>
      <span class="help danger" v-if="errors.password2">{{errors.password2}}</span>
    </div>

    <div class="field">
      <label class="label">Full Name*</label>
      <div class="field-body">
        <div class="field">
          <p class="control is-expanded has-icons-left">
            <input class="input" v-model="form.first_name" type="text" placeholder="First name">
            <span class="icon is-small is-left">
              <i class="fas fa-user"></i>
            </span>
          </p>
          <span class="help danger" v-if="errors.first_name">{{errors.first_name}}</span>
        </div>
        <div class="field">
          <p class="control is-expanded has-icons-left">
            <input class="input" v-model="form.last_name" type="text" placeholder="Last name">
            <span class="icon is-small is-left">
              <i class="fas fa-user"></i>
            </span>
          </p>
          <span class="help danger" v-if="errors.last_name">{{errors.last_name}}</span>
        </div>
      </div>
    </div>

    <div class="field" v-for="field in fields" v-if="field._added">
      <label v-if="field.type=='boolean'" class="control">
        <input v-model="form[field.name]" type="checkbox">
        <span v-text="field.name"></span>
      </label>
      <input v-if="field.type=='integer' || field.type=='float'" class="input" v-model="form[field.name]" type="number"
        v-bind:placeholder="field.name">
      <input v-else class="control" v-model="form[field.name]" type="text" v-bind:placeholder="field.name">
      <span class="help danger" v-if="errors[field.name]">{{errors[field.name]}}</span>
    </div>
    <div class="field">
      <button class="button is-info is-outlined" v-on:click="submit_register()">Sign Up</button>
    </div>
    <div class='border-top pt-3'>
      <small class='text-muted'>
        Already Have An Account? <a class='text-primary ml-2' v-on:click="go('login')">Sign In</a>
      </small>
    </div> -->
  </div>



  <div v-else-if="page=='404'">
    <center>
      <p class="subtitle is-3">404 - Page not available</p>
      <button v-if="user === null" class="button is-info is-outlined" v-on:click="go('login')">Login</button>
      <button v-else class="button is-info is-outlined" v-on:click="go('logout')">Logout</button>
    </center>
  </div>



  <div v-else-if="page=='403'">
    <center>
      <p class='subtitle is-3'>
        403 - User not authorized
      </p>
      <button v-if="user === null" class="button is-info is-outlined" v-on:click="go('login')">Login</button>
      <button v-else class="button is-info is-outlined" v-on:click="go('logout')">Logout</button>
    </center>
  </div>



  <div v-else-if="user === null && page=='login'">
    <p class='subtitle is-3'>
      Log In
    </p>
    <div class="field" style="text-align:center;margin:20px">
      <a v-if="plugins.indexOf('oauth2google')>=0" class="button is-info is-outlined"
        v-bind:href="'../auth/plugin/oauth2google/login?next='+next">Login with Google</a>
      <a v-if="plugins.indexOf('oauth2facebook')>=0" class="button is-info is-outlined"
        v-bind:href="'../auth/plugin/oauth2facebook/login?next='+next">Login with Facebook</a>
      <a v-if="plugins.indexOf('oauth2okta')>=0" class="button is-info is-outlined"
        v-bind:href="'../auth/plugin/oauth2okta/login?next='+next">Login with Okta</a>
    </div>
    <!-- <div v-if="!plugins||plugins.indexOf('local')>=0">

      <div class="field">
        <label class="label" for="exampleInputUsername2">Username or Email</label>
        <div class="control">
          <input class="input" v-model="form.email" type="email" id="exampleInputUsername2">
        </div>
        <span class="help danger" v-if="errors.email">{{errors.email}}</span>
      </div>


      <div class="field">
        <label class="label" for="exampleInputPassword3">Password</label>
        <div class="control">
          <input class="input" v-model="form.password" type="password" id="exampleInputPassword3">
        </div>
        <span class="help danger" v-if="errors.password">{{errors.password}}</span>
      </div>


      <div class="field">
        <button class="button is-info is-outlined" v-on:click="submit_login()">Login</button>
      </div>


      <div class='border-top pt-3'>
        <small class='text-muted'>
          Need An Account? <a class='text-primary ml-2' v-on:click="go('register')">Sign Up Now</a>
        </small>
      </div>


      <div>
        <small class='text-muted'>
          Forgot Password? <a class='text-primary ml-2' v-on:click="go('request_reset_password')">Reset Here</a>
        </small>
      </div>
    </div> -->
  </div>


  <div v-else-if="user === null && page=='request_reset_password'">
    <!-- <p class='subtitle is-3'>
      Request Reset Password
    </p>
    <div class="field">
      <label class="label" for="exampleInputEmail2">Email*</label>
      <div class="control">
        <input class="input" v-model="form.email" type="email" id="exampleInputEmail2">
        <div class="field">
          <button class="button is-primary is-outlined" v-on:click="submit_request_reset_password()"
            type="button">Request</button>
        </div>
      </div>
      <span class="help danger" v-if="errors.email">{{errors.email}}</span>
    </div>
    <div class='border-top pt-3'>
      <small class='text-muted'>
        Need An Account?<a class='text-primary ml-2' v-on:click="go('register')">Sign Up Now</a> or<a
          class='text-primary ml-2' v-on:click="go('login')">Login</a>
      </small>
    </div> -->
  </div>


  <div v-else-if="user === null && page=='reset_password'">
    <!-- <p class='subtitle is-3'>
      Reset Password
    </p>
    <div class="field">
      <input class="input" v-model="form.new_password" type="password" placeholder="new password">
      <span class="help danger" v-if="errors.new_password">{{errors.new_password}}</span>
    </div>
    <div class="field">
      <input class="input" v-model="form.new_password2" type="password" placeholder="new password (again)">
      <span class="help danger" v-if="errors.new_password2">{{errors.new_password2}}</span>
    </div>
    <div class="field" style="text-align:center">
      <button class="button is-link is-outlined" v-on:click="submit_reset_password()">Send Request</button>
      <button class="button is-primary is-outlined" v-on:click="go('login')">Login</button>
    </div> -->
  </div>


  <div v-else-if="user === null && page=='change_password'">
    <!-- <p class='subtitle is-3'>
      Change Password
    </p>
    <div class="field">
      <input class="input" v-model="form.old_password" type="password" placeholder="current password">
      <span class="help danger" v-if="errors.old_password">{{errors.old_password}}</span>
    </div>
    <div class="field">
      <input class="input" v-model="form.new_password" type="password" placeholder="new password">
      <span class="help danger" v-if="errors.new_password">{{errors.new_password}}</span>
    </div>
    <div class="field">
      <input class="input" v-model="form.new_password2" type="password" placeholder="new password (again)">
      <span class="help danger" v-if="errors.new_password2">{{errors.new_password2}}</span>
    </div>
    <div class="field" style="text-align:center">
      <button class="button is-primary" v-on:click="submit_change_password()">Change Password</button>
    </div> -->
  </div>


  <div v-else-if="user === null && page=='change_email'">
    <!-- <p class='subtitle is-3'>
      Change Email
    </p>
    <div class="field">
      <input class="input" v-model="form.password" type="password" placeholder="password">
      <span class="help danger" v-if="errors.password">{{errors.password}}</span>
    </div>
    <div class="field">
      <input class="input" v-model="form.new_email" type="email" placeholder="new email">
      <<span class="help danger" v-if="errors.new_email">{{errors.new_email}}</span>
    </div>
    <div class="field">
      <input class="input" v-model="form.new_email2" type="email" placeholder="new email (again)">
      <span class="help danger" v-if="errors.new_email2">{{errors.new_email2}}</span>
    </div>
    <div class="container" style="text-align:center">
      <button class="button is-primary" v-on:click="submit_change_email()">Change Email</button>
    </div> -->
  </div>


  <div v-else-if="user === null && page=='profile'">
    <!-- <p class='subtitle is-3'>
      Profile
    </p>
    <div class="field">
      <input class="input" v-model="form.first_name" type="text" placeholder="first name">
      <span class="help danger" v-if="errors.first_name">{{errors.first_name}}</span>
    </div>
    <div class="field">
      <input class="input" v-model="form.last_name" type="text" placeholder="last name">
      <span class="help danger" v-if="errors.last_name">{{errors.last_name}}</span>
    </div>
    <div class="control" style="text-align:center">
      <button class="button is=primary" v-on:click="submit_profile()">Save Profile</button>
    </div> -->
  </div>


  <div v-else-if="user === null && page=='registered'">
    <!-- <p class='subtitle is-3'>
      Registered
    </p>
    <div class="container" style="text-align:center">
      <button class="button is-primary" v-on:click="go('login')">Go to login</button>
    </div> -->
  </div>


  <div v-else-if="user === null && page=='request_sent'">
    <!-- <p class='subtitle is-3'>
      Request Sent
    </p>
    <div class="container" style="text-align:center">
      <button class="button is-primary" v-on:click="go('login')">Go to login</button>
    </div> -->
  </div>


  <div v-else-if="page=='email_verified'">
    <!-- <p class='subtitle is-3'>
      Email Verified
    </p>
    <div class="container" style="text-align:center">
      <button class="button is-primary" v-on:click="go('login')">Go to login</button>
    </div> -->
  </div>


  <div v-else-if="page=='token_expired'">
    <!-- <p class='subtitle is-3'>
      Token Expired
    </p>
    <div class="container" style="text-align:center">
      <button class="button is-primary" v-on:click="go('login')">Go to login</button>
    </div> -->
  </div>


  <div v-else-if="page=='logout'">
    <p class='subtitle is-3'>
      Logged Out
    </p>
    <div class="container" style="text-align:center">
      <button class="button is-primary" v-on:click="go('login')">Go to login</button>
    </div>
  </div>
</div>