<div class="section">
  <div class="notification is-danger" v-if="error.active">
    {{error.message}}
  </div>
  <div class="box">
    <div class="level" v-if="sortable">

      <div class="level-left">
        <div class="level-item">
          <div class="field-label">
            <label class="label">Adjustments:</label>
          </div>
        </div>
        <div class="level-item">
          <div class="field has-addons">
            <p class="control">
              <span class="select">
                <select v-model="red_class">
                  <option disabled selected value="">Prune Redundancy by</option>
                  <option v-for="row in pruneable">{{row.text}}</option>
                </select>
              </span>
            </p>
            <p class="control">
              <input class="input" type="number" min="0" max="1" step=".01" v-model="min_thresh"
                placeholder="Minimum Threshold">
            </p>
            <div class="control">
              <button :disabled="(loading || isDisabled()) == true" class="button is-primary" @click="pruneDF">
                Prune
              </button>
            </div>
          </div>
        </div>

      </div>
      <div class="level-right">
        <div class="level-item">
          <div class="control">
            <button :disabled="loading == true" class="button has-text-info" @click="setCorrective">
              <span class="icon">
                <i class="fas fa-check"></i>
              </span>
              <span>Show Corrective Values</span>
            </button>
          </div>
        </div>
        <div class="level-item">
          <div class="control">
            <button :disabled="loading == true" class="button has-text-grey" @click="resetDF">
              <span class="icon">
                <i class="fas fa-times-circle"></i>
              </span>
              <span>Reset</span>
            </button>
          </div>
        </div>
      </div>
    </div>


    <!-- Search bar -->
    <div class="level is-mobile">
      <div class="field is-grouped" style="width:100%">
        <div class="control is-expanded">
          <div class="field has-addons is-expanded">
            <div class="control is-expanded is-fullwidth">
              <input class="input search" type="text" v-model="search_text" @keydown="search_enter"
                :placeholder="search_placeholder" :disabled='editing == true'>
            </div>
            <div class="control">
              <button class="button has-text-grey" @click="clear_search" :disabled='editing == true'>
                <span class="icon">
                  <i class="fas fa-times-circle"></i>
                </span>
                <span>Clear</span>
              </button>
            </div>
          </div>
        </div>
        <div class="control">
          <button v-if="!editing" class="button is-info" @click="do_search">
            <span class="icon">
              <i class="fas fa-search"></i>
            </span>
            <span>Search</span>
          </button>
          <button v-else class="button is-success" @click="do_reset">
            <span class="icon">
              <i class="fas fa-check"></i>
            </span>
            <span>Reset Columns</span>
          </button>
        </div>
        <div class="control">
          <button class="button" :class="{'is-warning': editing, 'is-warning is-loading': loading}"
            @click="editing = !editing" :disabled="loading == true">
            <span class="icon">
              <i class="fas fa-exclamation-triangle"></i>
            </span>
            <span>Edit Columns</span>
          </button>
        </div>
      </div>
    </div>
    <!-- Table -->

    <p v-if="editing" class="is-flex is-justify-content-center has-text-info is-italic">Select a column name to remove
      it from your dataframe, or select reset to convert it back to default</p>
    <div class="table-container is-mobile">
      <table class="table is-striped is-fullwidth is-hoverable is-mobile">
        <thead>
          <!-- Header row -->
          <tr>
            <th v-if="editing && rows.length > 0" v-for="cell in header.cells">
              <div class="level is-mobile">
                {{cell.text}}
                <div class="column-controls" v-if="cell.sortable">
                  <span @click="delCol(cell.text)" class="icon is-small has-text-info">
                    <i v-if="true" class="fas fa-eye"></i>
                    <i v-else class="fas fa-eye-slash"></i>
                  </span>
                </div>
              </div>
            </th>
            <th v-if="!editing && rows.length > 0" v-for="cell in header.cells">
              <div class="level is-mobile">
                <div v-if="cell.text === 'Itemset'" style="width: 200px;">
                  {{cell.text}}
                </div>
                <template v-else>
                  {{cell.text}}
                </template>
                <div class="column-controls" v-if="cell.sortable">
                  <span @click="do_sort(cell._idx)" class="icon is-small has-text-info">
                    <i v-if=" cell.sort < 0" class="fas fa-sort-down"></i>
                    <i v-else-if="cell.sort > 0" class="fas fa-sort-up"></i>
                    <i v-else class="fas fa-sort"></i>
                  </span>
                </div>
              </div>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="row in rows">
            <!-- Non-header row -->
            <td v-for="cell in row.cells"
              :class="{'has-background-link-light': (is_selected === row._idx) && (field_selected === cell._idx)}">
              <template v-if="cell.emit">
                <button v-if="cell.is_button" class="button is-link" @click="doEmit(row._idx, cell._idx)">
                  <span>{{cell.text}}</span>
                </button>
                <span v-else class="is-clickable" :class="{'has-text-weight-bold has-text-link': is_selected!==row._idx,
                     'has-text-weight-bold': (is_selected === row._idx) && (field_selected === cell._idx)}"
                  @click="doEmit(row._idx, cell._idx)">{{cell.text}}</span>
                <button v-if="(is_selected === row._idx) && (field_selected === cell._idx)"
                  class="button is-link is-middle" @click="superSearch(row._idx, cell._idx)">
                  <span>Superset</span>
                </button>
              </template>
              <button v-else-if="cell.is_button" class="button  is-clickable">
                <a v-if="cell.url" :href="cell.url" target="_blank" rel="noopener noreferrer">{{cell.text}}</a>
                <span v-else>{{cell.text}}</span>
              </button>
              <template v-else>
                <a v-if="cell.url" :href="cell.url" target="_blank" rel="noopener noreferrer">{{cell.text}}</a>
                <template v-else>{{cell.text}}</template>
              </template>
            </td>
          </tr>
          <tr v-if="rows.length == 0">
            <td>No Results.</td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Pagination -->
    <nav class="level">
      <div class="level-left">
        <div class="field is-horizontal" v-if="sortable">
          <div class="field-label">
            <label class="label">Globals Computation:</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <a class="button" @click="$emit('comp-globals', 'Δ_fpr')">Compute Global FPR Values</a>
                <a class="button" @click="$emit('comp-globals', 'Δ_fnr')">Compute Global FNR Values</a>
                <a class="button" @click="$emit('comp-globals', 'Δ_error')">Compute Global Error Values</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="level-right">
        <span title="Decrement 5 Pages" class="icon" :class="{disabled: !has_previous, 'has-text-info': has_previous}"
          @click.left.exact="incpage(-5)">
          <i class="fas fa-chevron-left"></i>
          <i class="fas fa-chevron-left"></i>
        </span>
        <span title="Decrement 1 Page" class="icon" :class="{disabled: !has_previous}" @click.left.exact="incpage(-1)">
          <i class="fas fa-chevron-left"></i>
        </span>
        <span class="grid_page_number">{{page}}</span>
        <span title="Increment 1 Page" class="icon" :class="{disabled: !has_more}" @click.left.exact="incpage(1)">
          <i class="fas fa-chevron-right"></i>
        </span>
        <span title="Increment 5 Pages" class="icon" :class="{disabled: !has_more, 'has-text-info': has_more}"
          @click.left.exact="incpage(5)">
          <i class="fas fa-chevron-right"></i>
          <i class="fas fa-chevron-right"></i>
        </span>
      </div>
    </nav>
  </div>
</div>