.pagination .grid_page_number {
    margin-right: 0.5em;
    margin-left: 0.5em;
}
span.disabled {
    color: lightgray;
}
th.clickable {
    cursor: pointer;
}

input.search {
    width: 100%;
}

.datatable {
    width: 100%
  }
  
.column-controls {
cursor: pointer;
float: right;
margin-top: 4px;
}

.column-controls .fa-sort {
opacity: 0.4;
}


.table td.selected-cell {
    background-color: #cecaca;
}

.button.is-middle {
    border-radius: 2px;
    font-size: 0.9rem;
  }