[[extend 'layout.html']]

<div class="container">
  How to Use this website:

  <!-- <ol type="1">
    <li>User Will upload their dataset and select their true/false values</li>
    <li>The dataset will be converted to One-hot</li>
    <li>Processed on the server</li>
    <li>Categorical Data is calculated to find biases</li>
    <li>Data Representation is displayed on Website</li>
  </ol> -->
</div>