[[extend 'layout.html']]

<div class="container">
    <p class="title">
        Admin Dashboard
    </p>
    [[if not datasets:]]
    There Doesn't seem to be any datasets created yet.
    [[pass]]


    <label class="label">Datasets on DivExplorer</label>
    <table class="table is-striped is-fullwidth">
        <tr>
            <th>Id</th>
            <th>Table Name</th>
            <th>Table Creation Date</th>
            <th>Author</th>
        </tr>
        [[for dataset in datasets:]]
        <tr>
            <td>[[=dataset.id]]</td>
            <td class="subtitle">[[=dataset.name]]</td>
            <td> [[=dataset.date_created.strftime("%A %d. %B %Y")]] </td>
            <td> [[=dataset.author]] </td>
        </tr>
        [[pass]]
    </table>
    <label class="label">Authors</label>
    <table class="table is-striped is-fullwidth">
        <tr>
            <th>Id</th>
            <th>User Email</th>
            <th>User's Name</th>
        </tr>
        [[for user in users:]]
        <tr>
            <td>[[=user.id]]</td>
            <td class="subtitle">[[=user.email]]</td>
            <td>[[=user.first_name]] [[=user.last_name]]</td>
        </tr>
        [[pass]]
    </table>
</div>