<style>
</style>
[[extend "layout.html"]]

<div class="container" id="vue">
  <auth plugins="local"></auth>
</div>

[[block scripts]]
<script src="components/auth.js"></script>
<script>Q.app().start();</script>
[[end]]