[[extend 'layout.html']]

<div class="container">
  <p class="subtitle is-4">
    Upload Datasets here.
  </p>
  <p>
    Please upload a Descritized Dataset in the format of CSV.
  </p>
  [[=form]]
</div>