[[extend 'layout.html']]

[[block page_head]]
<link rel="stylesheet" href="[[=URL('static/components/grid/grid.css')]]">
[[end]]

<div class="container" id="vue">
  <p class="title">
    Dataframe: <span class="is-italic">[[=name]]</span>
    <span class="has-text-danger" v-if="min_thresh">(PRUNED)</span>
    <span class="has-text-danger" v-if="corrective">(CORRECTIVE)</span>
  </p>
  <p class="subtitle">
    Settings:
  </p>
  <div>
    Minimum Support: <span class="has-text-weight-bold">[[=imp_f.min_supp]]</span> &emsp;
    Class Map: <span class="has-text-weight-bold">{"N": [[=imp_f.neg_class]], "P": [[=imp_f.pos_class]]} </span> &emsp;
    True Class: <span class="has-text-weight-bold">[[=imp_f.true_class]]</span> &emsp;
    Predicted Class: <span class="has-text-weight-bold">[[=imp_f.pred_class]]</span> &emsp;
  </div>
  <div>
    Selected Columns: <span class="has-text-weight-bold">[[=", ".join(imp_f.selected_fields)]]</span>
  </div>
  <div class="block" v-if="min_thresh">
    <span class="has-text-danger">
      Pruned with a Minimum Threshold of: <span class="has-text-weight-bold">{{min_thresh}}</span>. (<span
        class="has-text-weight-bold is-italic">{{field_name}}</span>)
    </span>
  </div>
  <p>
    Within this page you can do many things! To sort your dataframe by any field, just select the field's name! To
    ignore a column, select Edit and remove the column you do not care about. It can be brought back by hitting reset.
  </p>
  <div class="notification is-danger" v-if="error.active">
    {{error.message}}
  </div>
  <grid get_url="[[=grid_urls.get('get')]]" delete_row_url="[[=grid_urls.get('delete')]]" @analyze-cell="doAnalyze"
    @comp-globals="computeGlobal" @set-thresh="setThreshold" @set-corrective="setComp">
  </grid>
  <!-- Past Table -->
  <template v-if="page === 'image'">
    <p class="subtitle">
      Global Shapley Display:
    </p>
    <div class="columns">
      <div class="column">
        <img :src="image1" />
      </div>
      <div class="column">
        <img :src="image2" />
      </div>
    </div>
  </template>

  <template v-if="page === 'individual'">
    <p class="subtitle">
      Individual Contributions and Lattice of: <span class="has-text-weight-bold">{{ItemsetName}}</span> for
      <span class="has-text-weight-bold">{{field}}</span>
    </p>
    <div class="columns">
      <div class="column is-5">
        <img :src="itemized" />
      </div>
      <div class="column">
        <vue-plotly :data="plotly_fields.data" :layout="plotly_fields.layout" :display-mode-bar="false"></vue-plotly>
      </div>
    </div>
  </template>
</div>


[[block scripts]]
<script src="[[=URL('static/js/vue-plotly.umd.min.js')]]"></script>
<script>let displayShapely_url = "[[=XML(displayShapely_url)]]";</script>
<script>let min_thresh = [[=imp_f.min_thresh]];</script>
<script>let corrective = "[[=imp_f.is_corrective]]";</script>
<script>let field_name = "[[=imp_f.prune_field]]";</script>
<script src="[[=URL('static/components/grid/grid.js')]]"></script>
<script>let computeGlobal_url = "[[=XML(computeGlobal_url)]]";</script>
<script src="[[=URL('static/js/dataframe_detail.js')]]"></script>
[[end]]