[[extend 'layout.html']]

[[block page_head]]
<link rel="stylesheet" href="[[=URL('static/components/grid/grid.css')]]">
<link rel="stylesheet" href="[[=URL('static/css/vue-select.css')]]">
[[end]]

<div class="container" id="vue">
  <div class="subtitle">
    <p class="title">
      Dataset: <span class="is-italic">[[=name]]</span>
    </p>
    <div class="notification is-danger" v-if="error.active">
      {{error.message}}
    </div>
    <p class="subtitle">
      Congrats! Your dataset has been uploaded into our system. Click below to view it, otherwise choose your
      computation
      settings necessary for using our software.
    </p>
    <button class="button" @click="showGrid=!showGrid">Display Dataset</button>
    <p class="subtitle has-text-weight-light">
      Once you have set all of the necessary fields, select
      <span class="has-text-weight-bold">
        "Compute Exploration"
      </span>
      and your newly created dataframe will appear in the list below.
    </p>
    <!-- <p class="is-family-primary">
      A description about DivExplorer will go here, as well as a description of what each field means and how to choose
      it.
    </p> -->
  </div>
  <template v-if="showGrid">
    <grid get_url="[[=grid_urls.get('get')]]" delete_row_url="[[=grid_urls.get('delete')]]"></grid>
  </template>
  <!-- Past Table -->
  <div class="container">
    <div class="subtitle">
      <p class="subtitle">
        DivExplorer Computational Settings:
      </p>
    </div>
    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">True/Predicted Classes</label>
      </div>
      <div class="field-body">
        <div class="field">
          <p class="control is-expanded">
          <div class="select is-fullwidth">
            <select v-model="settings.true_class">
              <option disabled selected value="">Select True Class</option>
              <option v-for="row in settings.rows" v-if="!row.includes('Unnamed:')" :value="row">
                {{row}}
              </option>
            </select>
          </div>
          </p>
        </div>
        <div class="field is-grouped">
          <p class="control is-expanded">
          <div class="select is-fullwidth">
            <select v-model="settings.pred_class">
              <option disabled selected value="">Select Predicted Class</option>
              <option v-for="row in settings.rows" v-if="!row.includes('Unnamed:')" :value="row">
                {{row}}
              </option>
            </select>
          </div>
          </p>
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">Positive Class</label>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <input v-model="settings.pos_class" type="string" class="input"></input>
          </div>
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">Negative Class</label>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <input v-model="settings.neg_class" type="string" class="input"></input>
          </div>
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">Minimum Suport</label>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <input v-model="settings.min_supp" type="number" class="input" min="0" max="1" step=".01"></input>
          </div>
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">Columns Selected For Computation:</label>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <v-select v-model="settings.selected" multiple :options="settings.rows"></v-select>
          </div>
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-label">
        <!-- Left empty for spacing  -->
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <button class="button is-success" :class="{'is-loading': loading}" @click="computeDataset()"
              :disabled="(loading || isDisabled()) == true">
              Compute Exploration
            </button>
          </div>
        </div>
      </div>
    </div>
    <p class="subtitle">Computed Explorations:</p>
    <table class="table is-striped is-fullwidth">
      <tr>
        <th>Id</th>
        <th>Divexplorer Settings</th>
        <th>View</th>
      </tr>
      <tr v-if="dataframes.length > 0" v-for="dataframe in dataframes">
        <td>{{dataframe.dataframes.id}}</td>
        <td>Min Support: <span class="has-text-weight-bold">{{dataframe.important_fields.min_supp}}</span> &emsp;True
          Class:
          <span class="has-text-weight-bold">{{dataframe.important_fields.true_class}}</span> &emsp;
          Predicted Class: <span class="has-text-weight-bold">{{dataframe.important_fields.pred_class}}</span> &emsp;
          Selected Columns: <span
            class="has-text-weight-bold">{{mapCols(dataframe.important_fields.selected_fields).join(", ")}}</span>
          <span class="has-text-danger is-italic" v-if="dataframe.important_fields.min_thresh"> &emsp;Minimum
            Threshold:
            <span class="has-text-weight-bold">{{dataframe.important_fields.min_thresh}}</span> On:
            <span class="has-text-weight-bold">{{dataframe.important_fields.prune_field}}</span>
          </span>

        </td>
        <td>
          <div class="buttons">
            <button class="button is-link" @click="redirect(dataframe.dataframes.id)">
              <span class="icon">
                <i class="fas fa-search"></i>
              </span>
              <span>View</span>
              <button class="button is-danger" @click="gridDelete(dataframe.dataframes.id)">
                <span class="icon">
                  <i class="fas fa-trash"></i>
                </span>
                <span>Delete</span>
              </button>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>


[[block scripts]]
<script> let get_url = "[[=XML(get_url)]]";</script>
<script> let dataframe_url = "[[=XML(dataframe_url)]]";</script>
<script> let dataframe_view_url = "[[=XML(dataframe_view_url)]]";</script>
<script> let compute_url = "[[=XML(compute_url)]]";</script>
<script> let set_class_url = "[[=XML(set_url)]]";</script>
<script> let delete_url = "[[=XML(delete_url)]]";</script>
<script src="[[=URL('static/js/vue-select.min.js')]]"></script>
<script src="[[=URL('static/components/grid/grid.js')]]"></script>
<script src="[[=URL('static/js/grid_detail.js')]]"></script>
[[end]]