[[extend 'layout.html']]

<div class="container">
  <p class="title">Welcome to DivExplorer!</p>
  <p>
    DivExplorer is a tool for analyzing datasets and finding subgroups of data where a classifier behaves differently
    than on the overall data. To start, please upload a discretized dataset with both the output of a binary
    classifier,
    and the (binary) ground truth.
  </p>
  <br>
  <div class="buttons">
    <a class="button is-primary" href="[[=URL('dataset/new')]]">Create a New Dataset</a>
    <a class="button is-link" href="[[=URL('my_datasets')]]">Display my Datasets</a>
  </div>

  <p class="has-text-grey-dark">
    DivExplorer is brought to you by <a href="https://smartdata.polito.it/members/eliana-pastor/">Eliana Pastor</a>, <a
      href="https://gavgavian.com">Andrew Gavgavian</a>, <a
      href="https://dbdmg.polito.it/wordpress/people/elena-baralis/">Elena Baralis</a>,
    <a href="https://luca.dealfaro.com">Luca de Alfaro</a>, and is described in
    the papers:
    <br>
  </p>
  <div class="content">
    <ul>
      <li>
        <a href="https://dl.acm.org/doi/10.1145/3448016.3457284">
          Looking for Trouble: Analyzing
          Classifier
          Behavior via Pattern Divergence. Eliana Pastor,
          Luca de Alfaro, Elena
          Baralis. In Proceedings of the 2021 International Conference on Management of Data (SIGMOD '21), 1400–1412.
          June
          20–25, 2021, Virtual Event, China.
        </a>
      </li>
      <li>
        How Divergent Is Your Data?. Eliana Pastor, Andrew Gavgavian, Elena Baralis, and Luca de Alfaro. In
        Proceedings
        of
        the 47th International Conference on Very Large Data Bases (VLDB), Demo Track, 2021. PVLDB, 14(12).
      </li>
    </ul>
  </div>

</div>