[[extend 'layout.html']]

<div class="container">
  <p class="title">
    My Datasets
    <a class="button is-link is-pulled-right" href="[[=URL('dataset/new')]]">
      <span class="icon">
        <i class="fas fa-plus"></i>
      </span>
      <span>New Dataset</span>
    </a>
  </p>
  [[if not datasets:]]
  There Doesn't seem to be any datasets created yet. Maybe try <a href="[[=URL('dataset/new')]]">Creating one
    here.</a>
  [[pass]]
  <table class="table is-striped is-fullwidth">
    <tr>
      <th>Id</th>
      <th>Table Name</th>
      <th>Table Creation Date</th>
      <th>Table Settings</th>
    </tr>
    [[for dataset in datasets:]]
    <tr>
      <td>[[=dataset.id]]</td>
      <td class="subtitle">[[=dataset.name]]</td>
      <td>[[=dataset.date_created.strftime("%A %d. %B %Y")]]</td>
      <td>
        <a class="button is-link" href="[[=URL('dataset', dataset.id)]]">
          <span class="icon">
            <i class="fas fa-pencil-alt"></i>
          </span>
          <span>View</span>
        </a>
        <a class="button is-danger" href="[[=URL('dataset','delete', dataset.id)]]">
          <span class="icon">
            <i class="fas fa-trash"></i>
          </span>
          <span>Delete</span>
        </a>
      </td>
    </tr>
    [[pass]]
  </table>
</div>